.welcome-patient {
  h1,
  h2,
  p {
    font-family: "Plus Jakarta Sans";
  }
  .welcome-text {
    color: white;
  }
  .flex-center {
    flex-direction: column;
  }
  h1 {
    color: #256ac4;
    font-weight: bolder;
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
  }
  h2 {
    color: #256ac4;
    font-weight: bolder;
    font-size: 24px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .right {
    justify-content: flex-start;
    .ambulance-right {
      padding-top: 4rem;
    }
  }
  ul {
    margin-top: 10px;
  }
  li {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    line-height: 40px;
  }
  p {
    color: #256ac4;
    font-weight: 600;
    text-align: left;
    font-size: 20px;
  }
  .popup {
    background-color: white;
    width: 70%;
    border-radius: 50px;
    padding-top: 2rem;
    padding-bottom: 3em;
    padding-left: 6rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    .popup-flex {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    .caption {
      color: #949494;
      margin-top: 10px;
    }
    .text-button {
      width: 162px;
      height: 52px;
      align-self: flex-end;
      font-size: 20px;
    }
    .available-ambulances {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 2rem;
      height: 300px;
      overflow-y: auto;
    }
    .ambulance-logo {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
