.flipbook-layout {
  padding-inline: 3rem;
  width: 90%;
  height: 80%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    background-color: #ffb6bb;
    border-radius: 50px;
    filter: drop-shadow(rgba(0, 0, 0, 0.16));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 1400px;
    &[color="blue"] {
      background-color: #b4deff;
    }
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      z-index: 10;
    }
    .right {
      background-color: #ffffff;
      border-radius: 50px;
      width: 50%;
      height: 100%;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
